/* stylesheet for myblog  wesite created by Jyothi Thomas */

/* styles for the body of the pages */
body {
    background-color: #ddf864;
  }
  
  /* styles to have fluid images */
  img {
    max-width: 100%;
  }
  
  /* Adopting the mobile-first strategy */
  /* styles for the Mobile Layout */
  
  /* styles for the id = container */
  #container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .social
    {
      width: 30%;
    }
  
  /* styles for the logo in the header div */
  header {
    margin-top: 0.2em;
    background-color: #ffffff;
    border-radius: 0.5em;
    text-align: center;
  }
  
  /* styles for the nav bar containing the links */
  nav {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
  }
  
  /* styles specifies the padding and margins of the unordered list in nav */
  nav ul {
    align-content:center;
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  
  /* styles for the li in nav */
  nav li {
    background-color: rgb(59, 43, 30);
    border-radius: 2em;
    margin: 0.3em;
    padding: 0.4em;
    list-style-type: none;
  }
  
  /* styles for the anchor tags that are in nav li */
  nav li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  /* styles for the mobile class */
  .mobile {
    display: inline;
  }
  
  /* styles for the desktop class */
  .desktop {
    display: none;
  }
  
  /* styles for the main div containg the page information */
  main {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    margin-top: 0.5em;
    padding: 1em;
    border-radius: 1em;
    border-top: solid 0.2em brown;
    border-bottom: solid 0.2em brown;
    background-color: #ffffff;
  }
  aside{
    display: none;
  }
  
  /* styles for the footer */
  footer
    {
        background-color:#f0f0f0;
        margin-top: -0.2em;
        padding: 0.5em;
        position: fixed;
        bottom: 0;
    }
  
  /* styles for the tablet class */
  .tablet {
    display: none;
  }
  
  /* styles for the equip class (e.g. images in the about page) */
  .equip {
    display: none;
  }
  
  /* Media query for tablet viewport target - minimum width: 480px */
  
  @media only screen and (min-width: 480px) {
    img 
{
    max-width: 100%;
}
#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
    /* styles specifies horizontal dispay for navigation links */
    nav li {
      display: block;
      float: left;
      width: 30%;
      margin-left: 1%;
      margin-right: 1%;
      padding-left: 0;
      padding-right: 0;
      align-content:center;
    }
  
    /* styles for main */
    main {
      width: 80%; 
      float: right; 
      padding:10px;
    }
    aside { 
      display: none;
      float: left;
      width: 20%; 
      padding:5px;  
      margin:10px; 
      height:100px; 
  } 
  
    /* styles for mobile class */
    .mobile {
      display: none;
    }
  
    /* styles for desktop */
    .desktop {
      display: inline;
    }
  
    /* styles for equip class */
    .equip {
      width: 40%;
      display: block;
      float: left;
      margin-right: 1.5em;
    }
  
    /* styles for unordered list (class items) */
    .items {
      background-color: lightblue;
      display: block;
      list-style-position: inside;
      /* margin-bottom: 5em; */
    }
  
    /* styles for equipment titles (h1) */
    .title-equip {
      clear: left;
      width: fit-content;
      padding-top: 0.5em;
    }
  
    /* styles for the tablet class */
    .tablet {
      display: block;
    }
  
    /* styles for the description list terms */
    dt {
      font-weight: bold;
      margin-top: 0.7em;
    }
    .social
    {
      width: 30%;
    }
  }
  
  /* Media Query for desktop view port */
  @media only screen and (min-width: 999px) {
    img 
{
    max-width: 100%;
}
#container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
  
    /* styles for ul in nav for links */
    nav ul {
      margin: 0;
      padding-left: 0.5%;
      padding-right: 0.5%;
      text-align: center;
    }
  
    /* styles for the list items in nav */
    nav li {
      border-radius: 0;
      border-top: solid #000000;
      border-bottom: solid #000000;
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      width: 33%;
    }
  
    /* styles for anchor tag inside nav li */
    nav li a {
      display: inline-block;
      padding: 0.7em;
    }
  
    /* styles for the main */
    main {
      width: 80%; 
      float: right; 
      padding:10px;
    }
    .social
    {
      width: 40%;
    }
    aside
    {
        display: block;
        font-style: oblique;
        font-size: 0.6em;
        color: black;
        margin-top: auto;
        
    }
    aside ul
    {
        font-size: 2em;
        float: left;
        padding-left: 1em;
        margin-left: 1em;
        margin-top: -15em;
        font-style: initial;
        font-weight: bolder;
    }

    aside li
    {
        padding: 0.1em;
        display: block;
    }

    aside li a
    {
        
        color: brown;
        font-weight: bolder;
        border: #f94c60;
    }

  
    /* styles for paragraphs inside main */
    main p {
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
  
    /* styles specifies for item class */
    /* .items {
        margin-bottom: 6em;
    } */
  
    /* styles for pseudo-classes */
    /* when the link is not visited */
    nav li a:link {
      color: #ffffff;
    }
  
    /* when the link is visited */
    nav li a:visited {
      color:violet;
    }
  
    /* pseudo class when hoverin over link */
    nav li a:hover {
      font-style: italic;
    }
  
    /* when the links are active */
    nav li a:active {
      color: #6600cc;
    }
  
    /* styles for body giving gradients */
    body {
      /* Firefox */
      background: -moz-linear-gradient(#ddf864, #df6332);
      /* Opera */
      background: -o-linear-gradient(#ddf864, #df6332);
      /* Safari and Chrome */
      background: -webkit-linear-gradient(#ddf864, #df6332);
      background: linear-gradient(#ddf864, #df6332);
      background-attachment: fixed;
    }
}
    /* body {
      background: -webkit-linear-gradient(left, white, #ffff99);
      background: -webkit-linear-gradient(180deg, white, #ffff99);
      background-attachment: fixed;
    } */
  